body {
    font-family: Arial, sans-serif;
    background-color: #0594fb1b;
    margin: 0px;
    padding: 20px;
}



#imagePreview {
    margin: 10px 0;
    border: 2px solid #ddd;
    padding: 10px;
}

.container {
    width: 60%;
    margin: auto;
    background-color: 0594fb1b;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-weight: 800;
}

label {
    display:flex;
    margin-top: 10px;
    font-weight: 549;
    
}

input, textarea {
    width: 80%;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #070707;
    border-radius: 8px;
    margin-left: 1px;
}
input:hover{ 
    border: 2px solid #05fb3a
}
textarea:hover{ 
    border: 2px solid #05fb3a
}
button {
    padding: 10px 33px;
    margin-top: 15px;
    background-color: #ffffff;
    color: #0594fb;
    font-weight: 700;
    font-size: medium;
    border: 3px solid #0594fb;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0594fb;
    color:#ffffff ;
    
}

.resume {
    margin-top:  30px;
    
    padding: 10px;
   
    background-color: #dcecfc;
    border: 1px solid #4e3a3a;
    border-radius: 8px;
}

.resume h2, .resume h3, .resume p {
    margin: 100px 300px;
    font-weight: 600;
    margin: 20px;
    padding: 5px;
    
}
fieldset{
    border-radius: 8px;
    box-shadow: #0594fb;
}